@{
    ViewBag.Title = "About";
}
<div id="abouttab" style="margin-top:100px">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    

    <p>Using SPM Monitoring System RESTful API. API Access configuration file is located in Config\config.cfg</p>
</div>
